@font-face {
    font-family: 'Funnel Display';
    src: url("shrift/Funnel_Display/ttf/FunnelDisplay-Medium.ttf");
}

html * {
    font-family: Funnel Display;
    
}
html{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 950px;
    width: 98%;
    border: 1px solid black;
  
}
.header{
    border: 1px solid black;
    width: 100%;
    height: 100px;
}
.menu{
    margin: 0;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    opacity: 0;
    z-index: -1;
    transform: translateY(-100px);
}
.footer{
    height: 100px;
    width: 100%;
    border: 1px solid black;
}
.main{
    z-index: -1;
    height: 690px;
    width: 100%;
    border: 1px solid black;
}